**.suo
**.csproj.user
**/bin/
**/obj/
**/bin-archive/
NGIMU.sln.GhostDoc.xml
ManufactureAndTesting/Calibration/MATLAB/CalibrationDataset/
ManufactureAndTesting/Calibration/MATLAB/EvaluationDataset/
ManufactureAndTesting/Calibration/MATLAB/CalibrationParameters/

\.vs/
